ALTER TABLE public.ava_pago ADD pag_descripcion varchar(50) NULL;
ALTER TABLE public.ava_pago ALTER COLUMN pag_descripcion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pago.pag_descripcion IS 'Alguna descripcion o comentario';

ALTER TABLE public.ava_servicio ADD ser_nombre varchar(30) NOT NULL;
ALTER TABLE public.ava_servicio ALTER COLUMN ser_nombre SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_servicio.ser_nombre IS 'Nombre del servicio';

ALTER TABLE public.ava_pago ADD pag_banco varchar(50) NULL;
ALTER TABLE public.ava_pago ALTER COLUMN pag_banco SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pago.pag_banco IS 'Banco emisor de la transferencia';

ALTER TABLE public.ava_cliente ADD cli_papellido varchar(30) NOT NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_papellido SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_cliente.cli_papellido IS 'Primer apellido del cliente';

ALTER TABLE public.ava_usuario ADD usu_contrasena varchar(500) NOT NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_contrasena SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_contrasena IS 'Contrasena del usuario';

ALTER TABLE public.ava_deposito ADD depo_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_deposito.depo_id IS 'Id del deposito';

ALTER TABLE public.ava_anulacionpago ADD anp_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_anulacionpago.anp_id IS 'Id de la anulacion de pago';

ALTER TABLE public.ava_anulacionpago ADD anp_montooriginal int8 NOT NULL;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_montooriginal SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_anulacionpago.anp_montooriginal IS 'Monto original del campo afectado';

ALTER TABLE public.ava_reservacion ADD res_fechaentrada timestamp NOT NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_fechaentrada SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_reservacion.res_fechaentrada IS 'Fecha y hora de entrada';

ALTER TABLE public.ava_deposito ADD depo_montocastigo int8 NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_montocastigo SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_deposito.depo_montocastigo IS 'Monto castigado al cliente';

ALTER TABLE public.ava_deposito ADD depo_descrmontocastigo varchar(50) NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_descrmontocastigo SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_deposito.depo_descrmontocastigo IS 'Motivo del monto castigado';

ALTER TABLE public.ava_alquilermensual ADD alqm_montopagado int8 NOT NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_montopagado SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilermensual.alqm_montopagado IS 'Monto pagado actual del alquiler mensual';

ALTER TABLE public.ava_deposito ADD depo_fechadevolucion timestamp NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_fechadevolucion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_deposito.depo_fechadevolucion IS 'Fecha de la devoluciuon del deposito';

ALTER TABLE public.ava_pago ADD pag_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_pago ALTER COLUMN pag_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pago.pag_id IS 'Id del pago';

ALTER TABLE public.ava_reservacion ADD res_estado varchar(1) NOT NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_estado SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_reservacion.res_estado IS 'Estado de la reservacion(''R'':reservada,''A'':activa,''C'':cancelada,''F'':finalizada)';

ALTER TABLE public.ava_deposito ADD depo_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_fechacreacion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_deposito.depo_fechacreacion IS 'Fecha de creacion del deposito';

ALTER TABLE public.ava_anulacionpago ADD anp_montofinal int8 NOT NULL;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_montofinal SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_anulacionpago.anp_montofinal IS 'Monto final del campo afectado';

ALTER TABLE public.ava_alquiler ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_alquiler ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_cliente ADD cli_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_fechacreacion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_cliente.cli_fechacreacion IS 'Fecha de creacion del cliente';

ALTER TABLE public.ava_anulacionpago ADD anp_fechaanulacion timestamp DEFAULT current_timestamp() NOT NULL;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_fechaanulacion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_anulacionpago.anp_fechaanulacion IS 'Fecha en la que se hizo la anulación';

ALTER TABLE public.ava_alquilercancelado ADD alqc_motivomontodevuelto varchar(50) NULL;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_motivomontodevuelto SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_motivomontodevuelto IS 'Motivo del monto devuelto';

ALTER TABLE public.ava_alquilermensual ADD alqm_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_fechacreacion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilermensual.alqm_fechacreacion IS 'Fecha de creacion del alquiler mensual';

ALTER TABLE public.ava_alquilermensual ADD alq_id int8 NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alq_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_pagoservicio ADD ser_id int8 NULL;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN ser_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_reservacion ADD res_montototal int8 NOT NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_montototal SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_reservacion.res_montototal IS 'Monto total de la reservación';

ALTER TABLE public.parametros ADD par_descripcion varchar(200) NULL;
ALTER TABLE public.parametros ALTER COLUMN par_descripcion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.parametros.par_descripcion IS 'Alguna descipcion de la empresa';

ALTER TABLE public.ava_pago ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_pago ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_anulacionpago ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_propiedad ADD prop_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_propiedad ALTER COLUMN prop_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_propiedad.prop_id IS 'Id de la propiedad';

-- Drop table

-- DROP TABLE public.ava_pago;

CREATE TABLE public.ava_pago (
	pag_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del pago
	pag_monto int8 NOT NULL, -- Monto del pago realizado
	pag_descripcion varchar(50) NULL, -- Alguna descripcion o comentario
	pag_cuenta varchar(50) NULL, -- Cuenta donde se realizó el pago
	pag_estado varchar(1) NOT NULL, -- Estado del pago(A:Activo, D:Anulado)
	pag_fechapago timestamp NOT NULL, -- Fecha en la que se realizó el pago
	res_id int8 NULL,
	alqm_id int8 NULL,
	depo_id int8 NULL,
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	pag_metodopago varchar(30) NULL, -- Efectivo, Sinpe, Transferencia, etc.
	pag_banco varchar(50) NULL, -- Banco emisor de la transferencia
	pag_referencia varchar(100) NULL, -- Número de referencia del pago
	CONSTRAINT ava_pago_ck01 CHECK ((pag_estado IN ('A'::STRING, 'D'::STRING))),
	CONSTRAINT ava_pago_pk PRIMARY KEY (pag_id ASC),
	CONSTRAINT ava_alquilermensual_x_ava_pago FOREIGN KEY (alqm_id) REFERENCES public.ava_alquilermensual(alqm_id),
	CONSTRAINT ava_deposito_x_ava_pago FOREIGN KEY (depo_id) REFERENCES public.ava_deposito(depo_id),
	CONSTRAINT ava_reservacion_x_ava_pago FOREIGN KEY (res_id) REFERENCES public.ava_reservacion(res_id)
);
COMMENT ON TABLE public.ava_pago IS 'Tabla de pagos realizados';

-- Column comments

COMMENT ON COLUMN public.ava_pago.pag_id IS 'Id del pago';
COMMENT ON COLUMN public.ava_pago.pag_monto IS 'Monto del pago realizado';
COMMENT ON COLUMN public.ava_pago.pag_descripcion IS 'Alguna descripcion o comentario';
COMMENT ON COLUMN public.ava_pago.pag_cuenta IS 'Cuenta donde se realizó el pago';
COMMENT ON COLUMN public.ava_pago.pag_estado IS 'Estado del pago(A:Activo, D:Anulado)';
COMMENT ON COLUMN public.ava_pago.pag_fechapago IS 'Fecha en la que se realizó el pago';
COMMENT ON COLUMN public.ava_pago.pag_metodopago IS 'Efectivo, Sinpe, Transferencia, etc.';
COMMENT ON COLUMN public.ava_pago.pag_banco IS 'Banco emisor de la transferencia';
COMMENT ON COLUMN public.ava_pago.pag_referencia IS 'Número de referencia del pago';

-- Column storage

ALTER TABLE public.ava_pago ALTER COLUMN pag_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN pag_monto SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN pag_descripcion SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN pag_cuenta SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN pag_estado SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN pag_fechapago SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN res_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN alqm_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN depo_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN rowid SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN pag_metodopago SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN pag_banco SET STORAGE DEFAULT;
ALTER TABLE public.ava_pago ALTER COLUMN pag_referencia SET STORAGE DEFAULT;

ALTER TABLE public.ava_pagoservicio ADD pser_fecha timestamp NOT NULL;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN pser_fecha SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pagoservicio.pser_fecha IS 'Fecha en la que se realizó el pago del servicio';

ALTER TABLE public.ava_alquilercancelado ADD alqc_motivo varchar(50) NOT NULL;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_motivo SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_motivo IS 'Motivo por el que el cliente canceló el alquiler';

ALTER TABLE public.parametros ADD par_correo varchar(50) NULL;
ALTER TABLE public.parametros ALTER COLUMN par_correo SET STORAGE DEFAULT;
COMMENT ON COLUMN public.parametros.par_correo IS 'Correo electronico de la empresa';

ALTER TABLE public.ava_pago ADD pag_metodopago varchar(30) NULL;
ALTER TABLE public.ava_pago ALTER COLUMN pag_metodopago SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pago.pag_metodopago IS 'Efectivo, Sinpe, Transferencia, etc.';

ALTER TABLE public.ava_edificio ADD edi_codigopostal varchar(10) NULL;
ALTER TABLE public.ava_edificio ALTER COLUMN edi_codigopostal SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_edificio.edi_codigopostal IS 'Código postal para insertar en el contrato';

-- Drop table

-- DROP TABLE public.ava_propiedad;

CREATE TABLE public.ava_propiedad (
	prop_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id de la propiedad
	prop_identificador varchar(15) NOT NULL, -- Identificador de la propiedad
	prop_descripcion varchar(50) NULL, -- Descripcion de la propiedad
	edi_id int8 NULL,
	tipp_id int8 NULL,
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT ava_propiedad_pk PRIMARY KEY (prop_id ASC),
	CONSTRAINT ava_edificio_x_ava_propiedad FOREIGN KEY (edi_id) REFERENCES public.ava_edificio(edi_id),
	CONSTRAINT ava_tipopropiedad_x_propiedad FOREIGN KEY (tipp_id) REFERENCES public.ava_tipopropiedad(tipp_id)
);
COMMENT ON TABLE public.ava_propiedad IS 'Propiedad de un edificio, osea un alquiler, departamento, airbnb etc...';

-- Column comments

COMMENT ON COLUMN public.ava_propiedad.prop_id IS 'Id de la propiedad';
COMMENT ON COLUMN public.ava_propiedad.prop_identificador IS 'Identificador de la propiedad';
COMMENT ON COLUMN public.ava_propiedad.prop_descripcion IS 'Descripcion de la propiedad';

-- Column storage

ALTER TABLE public.ava_propiedad ALTER COLUMN prop_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_propiedad ALTER COLUMN prop_identificador SET STORAGE DEFAULT;
ALTER TABLE public.ava_propiedad ALTER COLUMN prop_descripcion SET STORAGE DEFAULT;
ALTER TABLE public.ava_propiedad ALTER COLUMN edi_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_propiedad ALTER COLUMN tipp_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_propiedad ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_pago ADD depo_id int8 NULL;
ALTER TABLE public.ava_pago ALTER COLUMN depo_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_alquiler ADD alq_fechapago timestamp NOT NULL;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_fechapago SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquiler.alq_fechapago IS 'Fecha de pago acordada, el dia del mes';

ALTER TABLE public.ava_alquilercancelado ADD alqc_castigo int8 NULL;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_castigo SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_castigo IS 'Monto castigado al cliente(Opcional)';

ALTER TABLE public.ava_pago ADD pag_cuenta varchar(50) NULL;
ALTER TABLE public.ava_pago ALTER COLUMN pag_cuenta SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pago.pag_cuenta IS 'Cuenta donde se realizó el pago';

-- Drop table

-- DROP TABLE public.ava_alquiler;

CREATE TABLE public.ava_alquiler (
	alq_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del alquiler
	alq_monto int8 NOT NULL, -- Monto de alquiler mensual
	alq_fechapago timestamp NOT NULL, -- Fecha de pago acordada, el dia del mes
	alq_contrato varchar(500) NULL, -- Link del archivo guardado del contrato
	alq_estado varchar(1) NOT NULL, -- Estado del alquiler('A':activo,'F':finalizado,'C':cancelado)
	alq_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL, -- Fecha de creacion del alquiler
	prop_id int8 NULL,
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT ava_alquiler_ck01 CHECK ((alq_estado IN ('A'::STRING, 'F'::STRING, 'C'::STRING))),
	CONSTRAINT ava_alquiler_pk PRIMARY KEY (alq_id ASC),
	CONSTRAINT ava_propiedad_x_ava_alquiler FOREIGN KEY (prop_id) REFERENCES public.ava_propiedad(prop_id)
);
COMMENT ON TABLE public.ava_alquiler IS 'Tabla de alquileres o contratos de una propiedad';

-- Column comments

COMMENT ON COLUMN public.ava_alquiler.alq_id IS 'Id del alquiler';
COMMENT ON COLUMN public.ava_alquiler.alq_monto IS 'Monto de alquiler mensual';
COMMENT ON COLUMN public.ava_alquiler.alq_fechapago IS 'Fecha de pago acordada, el dia del mes';
COMMENT ON COLUMN public.ava_alquiler.alq_contrato IS 'Link del archivo guardado del contrato';
COMMENT ON COLUMN public.ava_alquiler.alq_estado IS 'Estado del alquiler(''A'':activo,''F'':finalizado,''C'':cancelado)';
COMMENT ON COLUMN public.ava_alquiler.alq_fechacreacion IS 'Fecha de creacion del alquiler';

-- Column storage

ALTER TABLE public.ava_alquiler ALTER COLUMN alq_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_monto SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_fechapago SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_contrato SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_estado SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_fechacreacion SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquiler ALTER COLUMN prop_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquiler ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_propiedad ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_propiedad ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_alquilercancelado ADD alq_id int8 NULL;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alq_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_edificio ADD edi_descripcion varchar(50) NULL;
ALTER TABLE public.ava_edificio ALTER COLUMN edi_descripcion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_edificio.edi_descripcion IS 'Descripcion del edificio';

ALTER TABLE public.ava_alquilermensual ADD alqm_fechainicio timestamp NOT NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_fechainicio SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilermensual.alqm_fechainicio IS 'Fecha en la que inicia el alquiler mensual';

ALTER TABLE public.ava_cliente ADD cli_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_cliente.cli_id IS 'Id del cliente';

-- Drop table

-- DROP TABLE public.ava_servicio;

CREATE TABLE public.ava_servicio (
	ser_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del servicio
	ser_nombre varchar(30) NOT NULL, -- Nombre del servicio
	ser_servicio varchar(40) NULL, -- Tipo de servicio, luz, agua, intenet etc....
	ser_mediopago varchar(30) NULL, -- Medio comun por el que se paga
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT ava_servicio_pk PRIMARY KEY (ser_id ASC)
);
COMMENT ON TABLE public.ava_servicio IS 'Tabla de servicios que pagan x Propiedad';

-- Column comments

COMMENT ON COLUMN public.ava_servicio.ser_id IS 'Id del servicio';
COMMENT ON COLUMN public.ava_servicio.ser_nombre IS 'Nombre del servicio';
COMMENT ON COLUMN public.ava_servicio.ser_servicio IS 'Tipo de servicio, luz, agua, intenet etc....';
COMMENT ON COLUMN public.ava_servicio.ser_mediopago IS 'Medio comun por el que se paga';

-- Column storage

ALTER TABLE public.ava_servicio ALTER COLUMN ser_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_servicio ALTER COLUMN ser_nombre SET STORAGE DEFAULT;
ALTER TABLE public.ava_servicio ALTER COLUMN ser_servicio SET STORAGE DEFAULT;
ALTER TABLE public.ava_servicio ALTER COLUMN ser_mediopago SET STORAGE DEFAULT;
ALTER TABLE public.ava_servicio ALTER COLUMN rowid SET STORAGE DEFAULT;

-- Drop table

-- DROP TABLE public.ava_cliente;

CREATE TABLE public.ava_cliente (
	cli_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del cliente
	cli_nombre varchar(30) NOT NULL, -- Nombre del cliente
	cli_papellido varchar(30) NOT NULL, -- Primer apellido del cliente
	cli_sapellido varchar(30) NULL, -- Segundo apellido del cliente
	cli_cedula varchar(15) NOT NULL, -- Cedula del cliente
	cli_telefono varchar(15) NOT NULL, -- Telefono del cliente
	cli_correo varchar(50) NOT NULL, -- Correo electronico del cliente
	cli_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL, -- Fecha de creacion del cliente
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	cli_direccion varchar(200) NULL, -- Dirección del cliente
	cli_estadocivil varchar(20) NULL, -- Soltero, Casado, etc.
	CONSTRAINT ava_cliente_pk PRIMARY KEY (cli_id ASC),
	CONSTRAINT ava_cliente_unq01 UNIQUE (cli_cedula ASC),
	CONSTRAINT ava_cliente_unq02 UNIQUE (cli_correo ASC)
);
COMMENT ON TABLE public.ava_cliente IS 'Tabla de clientes';

-- Column comments

COMMENT ON COLUMN public.ava_cliente.cli_id IS 'Id del cliente';
COMMENT ON COLUMN public.ava_cliente.cli_nombre IS 'Nombre del cliente';
COMMENT ON COLUMN public.ava_cliente.cli_papellido IS 'Primer apellido del cliente';
COMMENT ON COLUMN public.ava_cliente.cli_sapellido IS 'Segundo apellido del cliente';
COMMENT ON COLUMN public.ava_cliente.cli_cedula IS 'Cedula del cliente';
COMMENT ON COLUMN public.ava_cliente.cli_telefono IS 'Telefono del cliente';
COMMENT ON COLUMN public.ava_cliente.cli_correo IS 'Correo electronico del cliente';
COMMENT ON COLUMN public.ava_cliente.cli_fechacreacion IS 'Fecha de creacion del cliente';
COMMENT ON COLUMN public.ava_cliente.cli_direccion IS 'Dirección del cliente';
COMMENT ON COLUMN public.ava_cliente.cli_estadocivil IS 'Soltero, Casado, etc.';

-- Column storage

ALTER TABLE public.ava_cliente ALTER COLUMN cli_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_nombre SET STORAGE DEFAULT;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_papellido SET STORAGE DEFAULT;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_sapellido SET STORAGE DEFAULT;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_cedula SET STORAGE DEFAULT;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_telefono SET STORAGE DEFAULT;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_correo SET STORAGE DEFAULT;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_fechacreacion SET STORAGE DEFAULT;
ALTER TABLE public.ava_cliente ALTER COLUMN rowid SET STORAGE DEFAULT;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_direccion SET STORAGE DEFAULT;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_estadocivil SET STORAGE DEFAULT;

ALTER TABLE public.ava_pagoservicio ADD pser_monto int8 NOT NULL;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN pser_monto SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pagoservicio.pser_monto IS 'Monto que se pagó por el servicio';

ALTER TABLE public.ava_pagoservicio ADD pser_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN pser_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pagoservicio.pser_id IS 'Id del pago de servicio';

ALTER TABLE public.ava_clientexalquiler ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_clientexalquiler ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_pago ADD alqm_id int8 NULL;
ALTER TABLE public.ava_pago ALTER COLUMN alqm_id SET STORAGE DEFAULT;

-- Drop table

-- DROP TABLE public.ava_anulacionpago;

CREATE TABLE public.ava_anulacionpago (
	anp_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id de la anulacion de pago
	anp_motivo varchar(50) NOT NULL, -- Motivo por el cual se realiza la anulación
	anp_descripcion varchar(50) NOT NULL, -- Descripción de que pago con el dinero anulado
	anp_montooriginal int8 NOT NULL, -- Monto original del campo afectado
	anp_montofinal int8 NOT NULL, -- Monto final del campo afectado
	anp_fechaanulacion timestamp DEFAULT current_timestamp() NOT NULL, -- Fecha en la que se hizo la anulación
	pag_id int8 NULL,
	usu_id int8 NULL,
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT pk_ava_anulacionpago PRIMARY KEY (anp_id ASC),
	CONSTRAINT ava_pago_x_ava_anulacionpago FOREIGN KEY (pag_id) REFERENCES public.ava_pago(pag_id),
	CONSTRAINT ava_usuario_x_ava_anulacionpago FOREIGN KEY (usu_id) REFERENCES public.ava_usuario(usu_id)
);
COMMENT ON TABLE public.ava_anulacionpago IS 'tabla para registrar anulaciones de pagos realizadas';

-- Column comments

COMMENT ON COLUMN public.ava_anulacionpago.anp_id IS 'Id de la anulacion de pago';
COMMENT ON COLUMN public.ava_anulacionpago.anp_motivo IS 'Motivo por el cual se realiza la anulación';
COMMENT ON COLUMN public.ava_anulacionpago.anp_descripcion IS 'Descripción de que pago con el dinero anulado';
COMMENT ON COLUMN public.ava_anulacionpago.anp_montooriginal IS 'Monto original del campo afectado';
COMMENT ON COLUMN public.ava_anulacionpago.anp_montofinal IS 'Monto final del campo afectado';
COMMENT ON COLUMN public.ava_anulacionpago.anp_fechaanulacion IS 'Fecha en la que se hizo la anulación';

-- Column storage

ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_motivo SET STORAGE DEFAULT;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_descripcion SET STORAGE DEFAULT;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_montooriginal SET STORAGE DEFAULT;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_montofinal SET STORAGE DEFAULT;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_fechaanulacion SET STORAGE DEFAULT;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN pag_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN usu_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_anulacionpago ADD usu_id int8 NULL;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN usu_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_cliente ADD cli_estadocivil varchar(20) NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_estadocivil SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_cliente.cli_estadocivil IS 'Soltero, Casado, etc.';

ALTER TABLE public.ava_reservacion ADD res_telefonocliente varchar(15) NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_telefonocliente SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_reservacion.res_telefonocliente IS 'Telefono del cliente que hizo la reserva';

ALTER TABLE public.ava_alquilercancelado ADD alqc_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_id IS 'Id del alquiler cancelado';

ALTER TABLE public.ava_alquilermensual ADD alqm_fechafin timestamp NOT NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_fechafin SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilermensual.alqm_fechafin IS 'Fecha en la que termina el alquiler mensual';

ALTER TABLE public.ava_reservacion ADD res_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_fechacreacion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_reservacion.res_fechacreacion IS 'Fecha de creacion de la reserva';

ALTER TABLE public.ava_usuario ADD usu_sapellido varchar(30) NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_sapellido SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_sapellido IS 'Segundo apellido del usuario';

ALTER TABLE public.ava_propiedad ADD prop_descripcion varchar(50) NULL;
ALTER TABLE public.ava_propiedad ALTER COLUMN prop_descripcion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_propiedad.prop_descripcion IS 'Descripcion de la propiedad';

-- Drop table

-- DROP TABLE public.ava_deposito;

CREATE TABLE public.ava_deposito (
	depo_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del deposito
	depo_montoactual int8 NOT NULL, -- Monto actual del deposito pago
	depo_total int8 NOT NULL, -- Monto total a pagar del deposito
	depo_montodevuelto int8 NULL, -- Monto devuelto al cliente
	depo_montocastigo int8 NULL, -- Monto castigado al cliente
	depo_descmontodevuelto varchar(50) NULL, -- Motivo del monto devuelto
	depo_descrmontocastigo varchar(50) NULL, -- Motivo del monto castigado
	depo_fechadevolucion timestamp NULL, -- Fecha de la devoluciuon del deposito
	depo_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL, -- Fecha de creacion del deposito
	alq_id int8 NULL,
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT ava_deposito_pk PRIMARY KEY (depo_id ASC),
	CONSTRAINT ava_alquiler_x_ava_deposito FOREIGN KEY (alq_id) REFERENCES public.ava_alquiler(alq_id)
);
COMMENT ON TABLE public.ava_deposito IS 'Tabla de deposito inicial de un alquiler';

-- Column comments

COMMENT ON COLUMN public.ava_deposito.depo_id IS 'Id del deposito';
COMMENT ON COLUMN public.ava_deposito.depo_montoactual IS 'Monto actual del deposito pago';
COMMENT ON COLUMN public.ava_deposito.depo_total IS 'Monto total a pagar del deposito';
COMMENT ON COLUMN public.ava_deposito.depo_montodevuelto IS 'Monto devuelto al cliente';
COMMENT ON COLUMN public.ava_deposito.depo_montocastigo IS 'Monto castigado al cliente';
COMMENT ON COLUMN public.ava_deposito.depo_descmontodevuelto IS 'Motivo del monto devuelto';
COMMENT ON COLUMN public.ava_deposito.depo_descrmontocastigo IS 'Motivo del monto castigado';
COMMENT ON COLUMN public.ava_deposito.depo_fechadevolucion IS 'Fecha de la devoluciuon del deposito';
COMMENT ON COLUMN public.ava_deposito.depo_fechacreacion IS 'Fecha de creacion del deposito';

-- Column storage

ALTER TABLE public.ava_deposito ALTER COLUMN depo_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_montoactual SET STORAGE DEFAULT;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_total SET STORAGE DEFAULT;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_montodevuelto SET STORAGE DEFAULT;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_montocastigo SET STORAGE DEFAULT;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_descmontodevuelto SET STORAGE DEFAULT;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_descrmontocastigo SET STORAGE DEFAULT;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_fechadevolucion SET STORAGE DEFAULT;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_fechacreacion SET STORAGE DEFAULT;
ALTER TABLE public.ava_deposito ALTER COLUMN alq_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_deposito ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_deposito ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.parametros ADD par_nombre varchar(30) NULL;
ALTER TABLE public.parametros ALTER COLUMN par_nombre SET STORAGE DEFAULT;
COMMENT ON COLUMN public.parametros.par_nombre IS 'Nombre de la empresa';

ALTER TABLE public.ava_cliente ADD cli_telefono varchar(15) NOT NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_telefono SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_cliente.cli_telefono IS 'Telefono del cliente';

ALTER TABLE public.parametros ADD par_logo varchar(500) NULL;
ALTER TABLE public.parametros ALTER COLUMN par_logo SET STORAGE DEFAULT;
COMMENT ON COLUMN public.parametros.par_logo IS 'Link a un logo de la empresa';

ALTER TABLE public.ava_propiedad ADD tipp_id int8 NULL;
ALTER TABLE public.ava_propiedad ALTER COLUMN tipp_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_deposito ADD alq_id int8 NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN alq_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_alquiler ADD alq_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_fechacreacion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquiler.alq_fechacreacion IS 'Fecha de creacion del alquiler';

ALTER TABLE public.ava_usuario ADD usu_correo varchar(50) NOT NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_correo SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_correo IS 'Correo electronico del usuario';

ALTER TABLE public.ava_pagoservicio ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_pago ADD res_id int8 NULL;
ALTER TABLE public.ava_pago ALTER COLUMN res_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_alquiler ADD alq_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquiler.alq_id IS 'Id del alquiler';

ALTER TABLE public.ava_alquiler ADD prop_id int8 NULL;
ALTER TABLE public.ava_alquiler ALTER COLUMN prop_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_cliente ADD cli_cedula varchar(15) NOT NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_cedula SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_cliente.cli_cedula IS 'Cedula del cliente';

ALTER TABLE public.ava_pago ADD pag_fechapago timestamp NOT NULL;
ALTER TABLE public.ava_pago ALTER COLUMN pag_fechapago SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pago.pag_fechapago IS 'Fecha en la que se realizó el pago';

ALTER TABLE public.ava_reservacion ADD res_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_reservacion.res_id IS 'Id de la reservacion';

ALTER TABLE public.ava_tipopropiedad ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_tipopropiedad ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_cliente ADD cli_correo varchar(50) NOT NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_correo SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_cliente.cli_correo IS 'Correo electronico del cliente';

ALTER TABLE public.ava_tipopropiedad ADD tipp_nombre varchar(30) NOT NULL;
ALTER TABLE public.ava_tipopropiedad ALTER COLUMN tipp_nombre SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_tipopropiedad.tipp_nombre IS 'El tipo de propiedad, airbnb, negocio, etc....';

ALTER TABLE public.ava_edificio ADD edi_identificador varchar(15) NOT NULL;
ALTER TABLE public.ava_edificio ALTER COLUMN edi_identificador SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_edificio.edi_identificador IS 'Identidicador del edificio';

ALTER TABLE public.ava_cliente ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_reservacion ADD res_montoactual int8 NOT NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_montoactual SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_reservacion.res_montoactual IS 'Monto actual pagado de la reservación';

ALTER TABLE public.ava_deposito ADD depo_montoactual int8 NOT NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_montoactual SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_deposito.depo_montoactual IS 'Monto actual del deposito pago';

-- Drop table

-- DROP TABLE public.ava_usuario;

CREATE TABLE public.ava_usuario (
	usu_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del usuario
	usu_nombre varchar(30) NOT NULL, -- Nombre del usuario
	usu_papellido varchar(30) NOT NULL, -- Primer apellido del usuario
	usu_sapellido varchar(30) NULL, -- Segundo apellido del usuario
	usu_cedula varchar(15) NOT NULL, -- Cedula de usuario
	usu_correo varchar(50) NOT NULL, -- Correo electronico del usuario
	usu_contrasena varchar(500) NOT NULL, -- Contrasena del usuario
	usu_telefono varchar(15) NULL, -- Numero de telefono del usuario
	usu_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL, -- Fecha de creacion del usuario
	usu_estado varchar(1) NOT NULL, -- Estado del usuario('A':Activo,'I':Inactivo)
	usu_rol varchar(1) NOT NULL, -- Rol del usuario('A':admin,'J':jefe,'E':empleado,'R':auditor)
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT ava_usuario_ck01 CHECK ((usu_estado IN ('A'::STRING, 'I'::STRING))),
	CONSTRAINT ava_usuario_ck02 CHECK ((usu_rol IN ('A'::STRING, 'J'::STRING, 'E'::STRING, 'R'::STRING))),
	CONSTRAINT ava_usuario_pk PRIMARY KEY (usu_id ASC),
	CONSTRAINT ava_usuario_unq01 UNIQUE (usu_cedula ASC),
	CONSTRAINT ava_usuario_unq02 UNIQUE (usu_correo ASC)
);
COMMENT ON TABLE public.ava_usuario IS 'Usuarios que tienen permitido manipular info en el sistema';

-- Column comments

COMMENT ON COLUMN public.ava_usuario.usu_id IS 'Id del usuario';
COMMENT ON COLUMN public.ava_usuario.usu_nombre IS 'Nombre del usuario';
COMMENT ON COLUMN public.ava_usuario.usu_papellido IS 'Primer apellido del usuario';
COMMENT ON COLUMN public.ava_usuario.usu_sapellido IS 'Segundo apellido del usuario';
COMMENT ON COLUMN public.ava_usuario.usu_cedula IS 'Cedula de usuario';
COMMENT ON COLUMN public.ava_usuario.usu_correo IS 'Correo electronico del usuario';
COMMENT ON COLUMN public.ava_usuario.usu_contrasena IS 'Contrasena del usuario';
COMMENT ON COLUMN public.ava_usuario.usu_telefono IS 'Numero de telefono del usuario';
COMMENT ON COLUMN public.ava_usuario.usu_fechacreacion IS 'Fecha de creacion del usuario';
COMMENT ON COLUMN public.ava_usuario.usu_estado IS 'Estado del usuario(''A'':Activo,''I'':Inactivo)';
COMMENT ON COLUMN public.ava_usuario.usu_rol IS 'Rol del usuario(''A'':admin,''J'':jefe,''E'':empleado,''R'':auditor)';

-- Column storage

ALTER TABLE public.ava_usuario ALTER COLUMN usu_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_nombre SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_papellido SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_sapellido SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_cedula SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_correo SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_contrasena SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_telefono SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_fechacreacion SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_estado SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_rol SET STORAGE DEFAULT;
ALTER TABLE public.ava_usuario ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_alquilercancelado ADD alqc_fecha_cancelacion timestamp NOT NULL;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_fecha_cancelacion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_fecha_cancelacion IS 'Fecha en la que se canceló el alquiler';

ALTER TABLE public.ava_alquilermensual ADD alqm_identificador varchar(15) NOT NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_identificador SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilermensual.alqm_identificador IS 'Codigo identificador del alquiler mensual';

-- Drop table

-- DROP TABLE public.ava_edificio;

CREATE TABLE public.ava_edificio (
	edi_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del edificio
	edi_identificador varchar(15) NOT NULL, -- Identidicador del edificio
	edi_descripcion varchar(50) NULL, -- Descripcion del edificio
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	edi_direccion varchar(200) NULL, -- Direccion completa del edificio
	edi_codigopostal varchar(10) NULL, -- Código postal para insertar en el contrato
	CONSTRAINT pk_ava_edificio PRIMARY KEY (edi_id ASC)
);
COMMENT ON TABLE public.ava_edificio IS 'Edifcio';

-- Column comments

COMMENT ON COLUMN public.ava_edificio.edi_id IS 'Id del edificio';
COMMENT ON COLUMN public.ava_edificio.edi_identificador IS 'Identidicador del edificio';
COMMENT ON COLUMN public.ava_edificio.edi_descripcion IS 'Descripcion del edificio';
COMMENT ON COLUMN public.ava_edificio.edi_direccion IS 'Direccion completa del edificio';
COMMENT ON COLUMN public.ava_edificio.edi_codigopostal IS 'Código postal para insertar en el contrato';

-- Column storage

ALTER TABLE public.ava_edificio ALTER COLUMN edi_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_edificio ALTER COLUMN edi_identificador SET STORAGE DEFAULT;
ALTER TABLE public.ava_edificio ALTER COLUMN edi_descripcion SET STORAGE DEFAULT;
ALTER TABLE public.ava_edificio ALTER COLUMN rowid SET STORAGE DEFAULT;
ALTER TABLE public.ava_edificio ALTER COLUMN edi_direccion SET STORAGE DEFAULT;
ALTER TABLE public.ava_edificio ALTER COLUMN edi_codigopostal SET STORAGE DEFAULT;

ALTER TABLE public.ava_reservacion ADD prop_id int8 NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN prop_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_servicio ADD ser_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_servicio ALTER COLUMN ser_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_servicio.ser_id IS 'Id del servicio';

ALTER TABLE public.ava_usuario ADD usu_papellido varchar(30) NOT NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_papellido SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_papellido IS 'Primer apellido del usuario';

ALTER TABLE public.ava_pago ADD pag_monto int8 NOT NULL;
ALTER TABLE public.ava_pago ALTER COLUMN pag_monto SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pago.pag_monto IS 'Monto del pago realizado';

ALTER TABLE public.ava_reservacion ADD res_fechasalida timestamp NOT NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_fechasalida SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_reservacion.res_fechasalida IS 'Fecha y hora de salida';

ALTER TABLE public.ava_usuario ADD usu_cedula varchar(15) NOT NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_cedula SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_cedula IS 'Cedula de usuario';

ALTER TABLE public.ava_alquiler ADD alq_monto int8 NOT NULL;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_monto SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquiler.alq_monto IS 'Monto de alquiler mensual';

-- Drop table

-- DROP TABLE public.ava_reservacion;

CREATE TABLE public.ava_reservacion (
	res_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id de la reservacion
	res_nombrecliente varchar(50) NOT NULL, -- Nombre del cliente que hizo la reserva
	res_telefonocliente varchar(15) NULL, -- Telefono del cliente que hizo la reserva
	res_correocliente varchar(50) NULL, -- Correo del cliente que hizo la reserva
	res_fechaentrada timestamp NOT NULL, -- Fecha y hora de entrada
	res_fechasalida timestamp NOT NULL, -- Fecha y hora de salida
	res_montototal int8 NOT NULL, -- Monto total de la reservación
	res_montoactual int8 NOT NULL, -- Monto actual pagado de la reservación
	res_estado varchar(1) NOT NULL, -- Estado de la reservacion('R':reservada,'A':activa,'C':cancelada,'F':finalizada)
	res_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL, -- Fecha de creacion de la reserva
	prop_id int8 NULL,
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT ava_reservacion_ck01 CHECK ((res_estado IN ('R'::STRING, 'A'::STRING, 'C'::STRING, 'F'::STRING))),
	CONSTRAINT ava_reservacion_pk PRIMARY KEY (res_id ASC),
	CONSTRAINT ava_propiedad_x_ava_reservacion FOREIGN KEY (prop_id) REFERENCES public.ava_propiedad(prop_id)
);
COMMENT ON TABLE public.ava_reservacion IS 'Tabla de reservas realizadas a airbnb';

-- Column comments

COMMENT ON COLUMN public.ava_reservacion.res_id IS 'Id de la reservacion';
COMMENT ON COLUMN public.ava_reservacion.res_nombrecliente IS 'Nombre del cliente que hizo la reserva';
COMMENT ON COLUMN public.ava_reservacion.res_telefonocliente IS 'Telefono del cliente que hizo la reserva';
COMMENT ON COLUMN public.ava_reservacion.res_correocliente IS 'Correo del cliente que hizo la reserva';
COMMENT ON COLUMN public.ava_reservacion.res_fechaentrada IS 'Fecha y hora de entrada';
COMMENT ON COLUMN public.ava_reservacion.res_fechasalida IS 'Fecha y hora de salida';
COMMENT ON COLUMN public.ava_reservacion.res_montototal IS 'Monto total de la reservación';
COMMENT ON COLUMN public.ava_reservacion.res_montoactual IS 'Monto actual pagado de la reservación';
COMMENT ON COLUMN public.ava_reservacion.res_estado IS 'Estado de la reservacion(''R'':reservada,''A'':activa,''C'':cancelada,''F'':finalizada)';
COMMENT ON COLUMN public.ava_reservacion.res_fechacreacion IS 'Fecha de creacion de la reserva';

-- Column storage

ALTER TABLE public.ava_reservacion ALTER COLUMN res_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_nombrecliente SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_telefonocliente SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_correocliente SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_fechaentrada SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_fechasalida SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_montototal SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_montoactual SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_estado SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_fechacreacion SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN prop_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_reservacion ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_alquilermensual ADD alqm_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilermensual.alqm_id IS 'Id del alquiler mensual';

ALTER TABLE public.ava_servicio ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_servicio ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_deposito ADD depo_descmontodevuelto varchar(50) NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_descmontodevuelto SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_deposito.depo_descmontodevuelto IS 'Motivo del monto devuelto';

ALTER TABLE public.ava_cliente ADD cli_sapellido varchar(30) NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_sapellido SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_cliente.cli_sapellido IS 'Segundo apellido del cliente';

ALTER TABLE public.ava_servicio ADD ser_mediopago varchar(30) NULL;
ALTER TABLE public.ava_servicio ALTER COLUMN ser_mediopago SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_servicio.ser_mediopago IS 'Medio comun por el que se paga';

ALTER TABLE public.ava_alquilermensual ADD alqm_montototal int8 NOT NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_montototal SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilermensual.alqm_montototal IS 'Monto total a pagar del alquiler mensual';

ALTER TABLE public.parametros ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.parametros ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_usuario ADD usu_telefono varchar(15) NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_telefono SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_telefono IS 'Numero de telefono del usuario';

ALTER TABLE public.ava_edificio ADD edi_direccion varchar(200) NULL;
ALTER TABLE public.ava_edificio ALTER COLUMN edi_direccion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_edificio.edi_direccion IS 'Direccion completa del edificio';

ALTER TABLE public.ava_propiedad ADD prop_identificador varchar(15) NOT NULL;
ALTER TABLE public.ava_propiedad ALTER COLUMN prop_identificador SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_propiedad.prop_identificador IS 'Identificador de la propiedad';

ALTER TABLE public.ava_deposito ADD depo_total int8 NOT NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_total SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_deposito.depo_total IS 'Monto total a pagar del deposito';

ALTER TABLE public.ava_clientexalquiler ADD cli_id int8 NOT NULL;
ALTER TABLE public.ava_clientexalquiler ALTER COLUMN cli_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_cliente ADD cli_direccion varchar(200) NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_direccion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_cliente.cli_direccion IS 'Dirección del cliente';

-- Drop table

-- DROP TABLE public.ava_tipopropiedad;

CREATE TABLE public.ava_tipopropiedad (
	tipp_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del tipo de propiedad
	tipp_nombre varchar(30) NOT NULL, -- El tipo de propiedad, airbnb, negocio, etc....
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT ava_tipopropiedad_pk PRIMARY KEY (tipp_id ASC)
);
COMMENT ON TABLE public.ava_tipopropiedad IS 'Tabla de tipos de propiedad';

-- Column comments

COMMENT ON COLUMN public.ava_tipopropiedad.tipp_id IS 'Id del tipo de propiedad';
COMMENT ON COLUMN public.ava_tipopropiedad.tipp_nombre IS 'El tipo de propiedad, airbnb, negocio, etc....';

-- Column storage

ALTER TABLE public.ava_tipopropiedad ALTER COLUMN tipp_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_tipopropiedad ALTER COLUMN tipp_nombre SET STORAGE DEFAULT;
ALTER TABLE public.ava_tipopropiedad ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_alquilercancelado ADD alqc_motivocastigo varchar(50) NULL;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_motivocastigo SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_motivocastigo IS 'Motivo del monto castigado';

ALTER TABLE public.ava_alquilercancelado ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_alquilermensual ADD alqm_fechapago timestamp NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_fechapago SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilermensual.alqm_fechapago IS 'Fecha en que se pagó el alquiler mensual';

ALTER TABLE public.ava_reservacion ADD res_correocliente varchar(50) NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_correocliente SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_reservacion.res_correocliente IS 'Correo del cliente que hizo la reserva';

-- Drop table

-- DROP TABLE public.ava_alquilermensual;

CREATE TABLE public.ava_alquilermensual (
	alqm_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del alquiler mensual
	alqm_identificador varchar(15) NOT NULL, -- Codigo identificador del alquiler mensual
	alqm_fechainicio timestamp NOT NULL, -- Fecha en la que inicia el alquiler mensual
	alqm_fechafin timestamp NOT NULL, -- Fecha en la que termina el alquiler mensual
	alqm_montototal int8 NOT NULL, -- Monto total a pagar del alquiler mensual
	alqm_montopagado int8 NOT NULL, -- Monto pagado actual del alquiler mensual
	alqm_fechapago timestamp NULL, -- Fecha en que se pagó el alquiler mensual
	alqm_estado varchar(1) NOT NULL, -- Estado del alquiler mensual('A':atrasado,'P':pagado,'I':incompleto)
	alqm_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL, -- Fecha de creacion del alquiler mensual
	alq_id int8 NULL,
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT ava_alquilermensual_ck01 CHECK ((alqm_estado IN ('A'::STRING, 'P'::STRING, 'I'::STRING))),
	CONSTRAINT ava_alquilermensual_pk PRIMARY KEY (alqm_id ASC),
	CONSTRAINT ava_alquiler_x_ava_alquilermensual FOREIGN KEY (alq_id) REFERENCES public.ava_alquiler(alq_id)
);
COMMENT ON TABLE public.ava_alquilermensual IS 'Tabla de los alquileres mensuales a pagar, de los alquileres';

-- Column comments

COMMENT ON COLUMN public.ava_alquilermensual.alqm_id IS 'Id del alquiler mensual';
COMMENT ON COLUMN public.ava_alquilermensual.alqm_identificador IS 'Codigo identificador del alquiler mensual';
COMMENT ON COLUMN public.ava_alquilermensual.alqm_fechainicio IS 'Fecha en la que inicia el alquiler mensual';
COMMENT ON COLUMN public.ava_alquilermensual.alqm_fechafin IS 'Fecha en la que termina el alquiler mensual';
COMMENT ON COLUMN public.ava_alquilermensual.alqm_montototal IS 'Monto total a pagar del alquiler mensual';
COMMENT ON COLUMN public.ava_alquilermensual.alqm_montopagado IS 'Monto pagado actual del alquiler mensual';
COMMENT ON COLUMN public.ava_alquilermensual.alqm_fechapago IS 'Fecha en que se pagó el alquiler mensual';
COMMENT ON COLUMN public.ava_alquilermensual.alqm_estado IS 'Estado del alquiler mensual(''A'':atrasado,''P'':pagado,''I'':incompleto)';
COMMENT ON COLUMN public.ava_alquilermensual.alqm_fechacreacion IS 'Fecha de creacion del alquiler mensual';

-- Column storage

ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_identificador SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_fechainicio SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_fechafin SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_montototal SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_montopagado SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_fechapago SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_estado SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_fechacreacion SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alq_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN rowid SET STORAGE DEFAULT;

-- Drop table

-- DROP TABLE public.parametros;

CREATE TABLE public.parametros (
	par_nombre varchar(30) NULL, -- Nombre de la empresa
	par_logo varchar(500) NULL, -- Link a un logo de la empresa
	par_correo varchar(50) NULL, -- Correo electronico de la empresa
	par_descripcion varchar(200) NULL, -- Alguna descipcion de la empresa
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT parametros_pkey PRIMARY KEY (rowid ASC)
);
COMMENT ON TABLE public.parametros IS 'Tabla de parametros de la empresa';

-- Column comments

COMMENT ON COLUMN public.parametros.par_nombre IS 'Nombre de la empresa';
COMMENT ON COLUMN public.parametros.par_logo IS 'Link a un logo de la empresa';
COMMENT ON COLUMN public.parametros.par_correo IS 'Correo electronico de la empresa';
COMMENT ON COLUMN public.parametros.par_descripcion IS 'Alguna descipcion de la empresa';

-- Column storage

ALTER TABLE public.parametros ALTER COLUMN par_nombre SET STORAGE DEFAULT;
ALTER TABLE public.parametros ALTER COLUMN par_logo SET STORAGE DEFAULT;
ALTER TABLE public.parametros ALTER COLUMN par_correo SET STORAGE DEFAULT;
ALTER TABLE public.parametros ALTER COLUMN par_descripcion SET STORAGE DEFAULT;
ALTER TABLE public.parametros ALTER COLUMN rowid SET STORAGE DEFAULT;

-- Drop table

-- DROP TABLE public.ava_alquilercancelado;

CREATE TABLE public.ava_alquilercancelado (
	alqc_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del alquiler cancelado
	alqc_motivo varchar(50) NOT NULL, -- Motivo por el que el cliente canceló el alquiler
	alqc_montodevuelto int8 NULL, -- Monto devuelto de los alquileres(Opcional)
	alqc_castigo int8 NULL, -- Monto castigado al cliente(Opcional)
	alqc_motivomontodevuelto varchar(50) NULL, -- Motivo del monto devuelto
	alqc_motivocastigo varchar(50) NULL, -- Motivo del monto castigado
	alqc_fecha_cancelacion timestamp NOT NULL, -- Fecha en la que se canceló el alquiler
	alqc_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL, -- Fecha de creacion del alquiler
	alq_id int8 NULL,
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT pk_ava_alquilercancelado PRIMARY KEY (alqc_id ASC),
	CONSTRAINT ava_alquiler_x_ava_alquilercancelado FOREIGN KEY (alq_id) REFERENCES public.ava_alquiler(alq_id)
);
COMMENT ON TABLE public.ava_alquilercancelado IS 'Tabla de alquileres cancelados';

-- Column comments

COMMENT ON COLUMN public.ava_alquilercancelado.alqc_id IS 'Id del alquiler cancelado';
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_motivo IS 'Motivo por el que el cliente canceló el alquiler';
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_montodevuelto IS 'Monto devuelto de los alquileres(Opcional)';
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_castigo IS 'Monto castigado al cliente(Opcional)';
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_motivomontodevuelto IS 'Motivo del monto devuelto';
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_motivocastigo IS 'Motivo del monto castigado';
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_fecha_cancelacion IS 'Fecha en la que se canceló el alquiler';
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_fechacreacion IS 'Fecha de creacion del alquiler';

-- Column storage

ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_motivo SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_montodevuelto SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_castigo SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_motivomontodevuelto SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_motivocastigo SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_fecha_cancelacion SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_fechacreacion SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alq_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_usuario ADD usu_estado varchar(1) NOT NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_estado SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_estado IS 'Estado del usuario(''A'':Activo,''I'':Inactivo)';

ALTER TABLE public.ava_propiedad ADD edi_id int8 NULL;
ALTER TABLE public.ava_propiedad ALTER COLUMN edi_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_reservacion ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_edificio ADD edi_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_edificio ALTER COLUMN edi_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_edificio.edi_id IS 'Id del edificio';

ALTER TABLE public.ava_tipopropiedad ADD tipp_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_tipopropiedad ALTER COLUMN tipp_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_tipopropiedad.tipp_id IS 'Id del tipo de propiedad';

ALTER TABLE public.ava_usuario ADD usu_rol varchar(1) NOT NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_rol SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_rol IS 'Rol del usuario(''A'':admin,''J'':jefe,''E'':empleado,''R'':auditor)';

ALTER TABLE public.ava_anulacionpago ADD anp_descripcion varchar(50) NOT NULL;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_descripcion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_anulacionpago.anp_descripcion IS 'Descripción de que pago con el dinero anulado';

ALTER TABLE public.ava_clientexalquiler ADD alq_id int8 NOT NULL;
ALTER TABLE public.ava_clientexalquiler ALTER COLUMN alq_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_pago ADD pag_referencia varchar(100) NULL;
ALTER TABLE public.ava_pago ALTER COLUMN pag_referencia SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pago.pag_referencia IS 'Número de referencia del pago';

ALTER TABLE public.ava_usuario ADD usu_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_id SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_id IS 'Id del usuario';

ALTER TABLE public.ava_alquilercancelado ADD alqc_montodevuelto int8 NULL;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_montodevuelto SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_montodevuelto IS 'Monto devuelto de los alquileres(Opcional)';

ALTER TABLE public.ava_usuario ADD usu_nombre varchar(30) NOT NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_nombre SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_nombre IS 'Nombre del usuario';

ALTER TABLE public.ava_alquiler ADD alq_contrato varchar(500) NULL;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_contrato SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquiler.alq_contrato IS 'Link del archivo guardado del contrato';

ALTER TABLE public.ava_servicio ADD ser_servicio varchar(40) NULL;
ALTER TABLE public.ava_servicio ALTER COLUMN ser_servicio SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_servicio.ser_servicio IS 'Tipo de servicio, luz, agua, intenet etc....';

ALTER TABLE public.ava_anulacionpago ADD anp_motivo varchar(50) NOT NULL;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN anp_motivo SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_anulacionpago.anp_motivo IS 'Motivo por el cual se realiza la anulación';

ALTER TABLE public.ava_usuario ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN rowid SET STORAGE DEFAULT;

-- Drop table

-- DROP TABLE public.ava_clientexalquiler;

CREATE TABLE public.ava_clientexalquiler (
	alq_id int8 NOT NULL,
	cli_id int8 NOT NULL,
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT pk_ava_clientexalquiler PRIMARY KEY (alq_id ASC, cli_id ASC),
	CONSTRAINT ava_alquiler_x_ava_clientexalquiler FOREIGN KEY (alq_id) REFERENCES public.ava_alquiler(alq_id),
	CONSTRAINT ava_cliente_x_ava_clientexalquiler FOREIGN KEY (cli_id) REFERENCES public.ava_cliente(cli_id)
);

-- Column storage

ALTER TABLE public.ava_clientexalquiler ALTER COLUMN alq_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_clientexalquiler ALTER COLUMN cli_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_clientexalquiler ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_pagoservicio ADD prop_id int8 NULL;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN prop_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_pago ADD pag_estado varchar(1) NOT NULL;
ALTER TABLE public.ava_pago ALTER COLUMN pag_estado SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pago.pag_estado IS 'Estado del pago(A:Activo, D:Anulado)';

ALTER TABLE public.ava_deposito ADD depo_montodevuelto int8 NULL;
ALTER TABLE public.ava_deposito ALTER COLUMN depo_montodevuelto SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_deposito.depo_montodevuelto IS 'Monto devuelto al cliente';

ALTER TABLE public.ava_alquilermensual ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_cliente ADD cli_nombre varchar(30) NOT NULL;
ALTER TABLE public.ava_cliente ALTER COLUMN cli_nombre SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_cliente.cli_nombre IS 'Nombre del cliente';

ALTER TABLE public.ava_reservacion ADD res_nombrecliente varchar(50) NOT NULL;
ALTER TABLE public.ava_reservacion ALTER COLUMN res_nombrecliente SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_reservacion.res_nombrecliente IS 'Nombre del cliente que hizo la reserva';

ALTER TABLE public.ava_alquiler ADD alq_estado varchar(1) NOT NULL;
ALTER TABLE public.ava_alquiler ALTER COLUMN alq_estado SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquiler.alq_estado IS 'Estado del alquiler(''A'':activo,''F'':finalizado,''C'':cancelado)';

ALTER TABLE public.ava_alquilermensual ADD alqm_estado varchar(1) NOT NULL;
ALTER TABLE public.ava_alquilermensual ALTER COLUMN alqm_estado SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilermensual.alqm_estado IS 'Estado del alquiler mensual(''A'':atrasado,''P'':pagado,''I'':incompleto)';

ALTER TABLE public.ava_edificio ADD rowid int8 DEFAULT unique_rowid() NOT NULL;
ALTER TABLE public.ava_edificio ALTER COLUMN rowid SET STORAGE DEFAULT;

-- Drop table

-- DROP TABLE public.ava_pagoservicio;

CREATE TABLE public.ava_pagoservicio (
	pser_id bigserial GENERATED ALWAYS AS IDENTITY NOT NULL, -- Id del pago de servicio
	pser_monto int8 NOT NULL, -- Monto que se pagó por el servicio
	pser_fecha timestamp NOT NULL, -- Fecha en la que se realizó el pago del servicio
	pser_descripcion varchar(50) NULL, -- Alguna descipcion o mentario
	ser_id int8 NULL,
	prop_id int8 NULL,
	rowid int8 DEFAULT unique_rowid() NOT NULL,
	CONSTRAINT ava_pagoservicio_pk PRIMARY KEY (pser_id ASC),
	CONSTRAINT ava_propiedad_x_ava_pagoservicio FOREIGN KEY (prop_id) REFERENCES public.ava_propiedad(prop_id),
	CONSTRAINT ava_servicio_x_ava_pagoservicio FOREIGN KEY (ser_id) REFERENCES public.ava_servicio(ser_id)
);
COMMENT ON TABLE public.ava_pagoservicio IS 'Tabla que muestra los pagos de servicios';

-- Column comments

COMMENT ON COLUMN public.ava_pagoservicio.pser_id IS 'Id del pago de servicio';
COMMENT ON COLUMN public.ava_pagoservicio.pser_monto IS 'Monto que se pagó por el servicio';
COMMENT ON COLUMN public.ava_pagoservicio.pser_fecha IS 'Fecha en la que se realizó el pago del servicio';
COMMENT ON COLUMN public.ava_pagoservicio.pser_descripcion IS 'Alguna descipcion o mentario';

-- Column storage

ALTER TABLE public.ava_pagoservicio ALTER COLUMN pser_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN pser_monto SET STORAGE DEFAULT;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN pser_fecha SET STORAGE DEFAULT;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN pser_descripcion SET STORAGE DEFAULT;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN ser_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN prop_id SET STORAGE DEFAULT;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN rowid SET STORAGE DEFAULT;

ALTER TABLE public.ava_usuario ADD usu_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL;
ALTER TABLE public.ava_usuario ALTER COLUMN usu_fechacreacion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_usuario.usu_fechacreacion IS 'Fecha de creacion del usuario';

ALTER TABLE public.ava_anulacionpago ADD pag_id int8 NULL;
ALTER TABLE public.ava_anulacionpago ALTER COLUMN pag_id SET STORAGE DEFAULT;

ALTER TABLE public.ava_alquilercancelado ADD alqc_fechacreacion timestamp DEFAULT current_timestamp() NOT NULL;
ALTER TABLE public.ava_alquilercancelado ALTER COLUMN alqc_fechacreacion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_alquilercancelado.alqc_fechacreacion IS 'Fecha de creacion del alquiler';

ALTER TABLE public.ava_pagoservicio ADD pser_descripcion varchar(50) NULL;
ALTER TABLE public.ava_pagoservicio ALTER COLUMN pser_descripcion SET STORAGE DEFAULT;
COMMENT ON COLUMN public.ava_pagoservicio.pser_descripcion IS 'Alguna descipcion o mentario';